{% extends 'base.html' %} {% load static %} {% block style %}
<style>
    td {
        width: 2em;
        height: 2em;
        text-align: center;
    }
    th {
        text-align: center;
    }
    button {
        width: 100%;
        height: 100%;
        border: none;
    }
    form {
        width: 100%;
        height: 100%;
    }
    button:hover {
        background-color: aquamarine;
    }
    .selected {
        background-color: aquamarine;
    }
    .board {
        margin-left: 5vw;
        width: 2000px;
        overflow-x: auto;
        overflow-y: hidden;
    }
</style>
{% endblock style %} {% block content %}
<h3 class="display-3 text-center mt-3">Tic Tac Toe</h3>
<div class="board">
    <table>
        <tbody>
            <tr>
                <th></th>
                {% for row_i in size %}
                <th>{{ row_i }}</th>
                {% endfor %}
            </tr>
            {% for row_i in size %}
            <tr>
                <th>{{ row_i }}</th>
                {% for col_i in size %}
                <td>{% include 'includes/square.html' %}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
