{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block style %}
<style>
    th, td {
        width: 2em;
        height: 2em;
        text-align: center;
        display: inline-block;
    }
    button {
        width: 100%;
        height: 100%;
        border: none;
    }
    button:hover {
        background-color: #00BFFF;
    }
    form {
        width: 100%;
        height: 100%;
    }
    .board {
        margin-left: 1vw;
        padding-right: 2vw;
        overflow-x: scroll;
        white-space: nowrap;
    }
    #game_button {
        margin-bottom: 1vh;
        width: 20%;
    }
</style>
{% endblock style %}
{% block content %}
<div id="game_header">
    <button type="button" id="game_button" class="btn btn-primary ms-5 mt-4" onclick="saveGame()">Save Game</button>
    <a href="/tic_tac_toe/" id="game_button" class="btn btn-outline-danger ms-5 mt-4">Leave Game</a>
</div>
<template>
    <div class="container mt-2">
        <div class="alert alert-success alert-dismissible" role="alert">
            <div>The game has been saved!</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</template>

<template>
    <div class="container mt-2">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div>Failed in saving the game!</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</template>
<div class="board">
    <table>
        <tbody>
            <tr>
                <th></th>
                {% for row_i in size %}
                <th>{{ row_i }}</th>
                {% endfor %}
            </tr>
            {% for row_i in size %}
            <tr>
                <th>{{ row_i }}</th>
                {% for col_i in size %}
                <td>{% include "includes/square.html" with board_id=board_id row=row_i col=col_i played=details|index:row_i|index:col_i %}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/tic_tac_toe/board.js' %}"></script>
{% endblock script %}
