{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <h2 class="display-2 text-center mt-3">Fun Projects by Tri Luu</h2>
    <div class="row">
        <div class="card m-auto mt-4" style="width: 18rem">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">Tic Tac Toe</h5>
                <p class="card-text">Modern tic-tac-toe game.</p>
                <a href="/tic_tac_toe/" class="btn btn-primary">Start game</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
