{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    .button {
        background-color: #FFEED9;
    }
    .button:hover {
        background-color: #ffe7c9;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container-fluid" style="background-color: #87C4FF;">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <img src="{% static 'images/logo.png' %}" class="img-fluid float-end" alt="Tri Luu" style="max-height: 50vh;">
            </div>
            <div class="col mx-auto position-relative">
                <div class="position-absolute top-50 translate-middle-y">
                    <h4 class="display-6">Some Fun Projects made with Django</h4>
                    <a href="https://github.com/triluu03/" target="_blank" class="btn mb-4 mt-2 button">My Github</a>
                    <a href="https://triluu03.github.io/personal-portfolio/" target="_blank" class="btn mb-4 mt-2 button">Portfolio Website</a>
                    <a href="https://github.com/triluu03/django_projects" target="_blank" class="btn mb-4 mt-2 button">Soure Code</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="d-flex flex-row flex-wrap justify-content-evenly">
        <div class="card m-auto mt-4" style="width: 18rem">
            <img src="{% static 'images/tic_tac_toe.jpeg' %}" class="card-img-top" alt="Tic Tac Toe"> 
            <div class="card-body">
                <h5 class="card-title">Tic Tac Toe</h5>
                <p class="card-text">Modern tic-tac-toe game. Winning by marking 5 in a row.</p>
                <a href="/tic_tac_toe/" class="btn btn-primary">Start game</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="https://triluu03.github.io/personal-portfolio/" target="_blank" class="nav-link px-2 text-body-secondary">About</a></li>
            <li class="nav-item"><a href="https://github.com/triluu03/" target="_blank" class="nav-link px-2 text-body-secondary">Github</a></li>
            <li class="nav-item"><a href="https://github.com/triluu03/django_projects" target="_blank" class="nav-link px-2 text-body-secondary">Source Code</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 Luu, Duc Tri</p>
    </footer>
</div>
{% endblock content %}
